@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

$purple: #854dff;
$red: #ff5757;

$white: hsl(0, 0%, 100%);
$offWhite: hsl(0, 0%, 94%);
$lightGrey: hsl(0, 0%, 86%);
$smokeyGrey: hsl(0, 1%, 44%);
$offBlack: hsl(0, 0%, 8%);

$mainFont: 'Poppins', sans-serif;
